@import "../../SassHelpers/flex";
@import "../../SassHelpers/variables.scss";

@keyframes ringAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pre-loader {
  @include flex-mixin(center, center);
  min-width:100vh;
  width:100%;
  .styled-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid $color-primary;
      border-radius: 50%;
      animation: ringAnim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $color-primary transparent transparent transparent;
    }
  }
}
